@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap');
body {
  font-family: sans-serif;
}
.space-50 {
  padding-bottom: 500px;
}
.redcolor {
  color: #c62828;
}
.bluecolor {
  color: #1976d2;
}
.silver {
  color: #bebebe;
}

.current_information {
  float: left;
}

.update_time {
  float: right;
  color: #696969;
  font-size: 12px;
  font-size: 0.75rem;
}

._20to30 .verticalBottom {
  padding-top: 10px;
  display: inline;
  vertical-align: bottom;
}
.inline {
  display: inline;
  color: red;
  vertical-align: baseline;
}
.verticalBase {
  vertical-align: top;
  display: inline;
}
