@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap');
body{
	font-family: 'Yanone Kaffeesatz', sans-serif;

}
.space-50{
	padding-bottom:500px ;
}
.redcolor{
	color: #c62828;
}
.bluecolor{
	color: #1976d2;
}
.silver{
	color:#bebebe;
}